@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: "DM sans", sans-serif;
}
*::-webkit-scrollbar {
    width: 3px; /* Adjust width as needed */
    background-color: #565656;
    visibility: hidden;
}
*::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 6px;
    height: 4px;
    visibility: hidden;
  }  